.game-content {
  display: grid;
  grid-template-columns: 3fr 5fr;

  
  align-items: center;
  text-align: left;
  justify-items: center;
  color: #d9d9d9;
 padding-inline: 3vw;
}

.game-info {
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
  padding-inline: 3vw;
}

.image-container {
  object-fit: contain;

  position: relative;
  
}

@media screen and (max-width: 786px) {
  .game-content {
    display: flex;
    flex-flow: column;
  
    
    align-items: center;
    text-align: left;
    justify-items: center;
    color: #d9d9d9;
   padding-inline: 3vw;
  }
}